$primaryColor: #FF6060;
h1,p{
    color:$primaryColor;
}
h1{
    padding-top: 20px;
}
p{
    padding-bottom: 20px;
}
.informationLocation{
    margin: 0 79px;
    .titleAndHostContainer{
        display: flex;
        justify-content: space-between;
    }
}
.theTwoCollapse{
    display: flex;
    justify-content: space-between;
    padding: 45px 0 50px 0;
    margin: 0 auto ;
}