@mixin smartphones
{
    @media (min-width: 320px) and (max-width:799px) 
    {
        @content;
    }
}

.Slideshow{
    position:relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 100%;
    .arrow{
        position:absolute;
        z-index:1;
        top:24%;
        @include smartphones(){
            top:44%;
        }
    }
    .arrow_right, .arrow_left{
        right:8%;
        @include smartphones(){
            width:24px;
            height:24px;
        }
    }
    .picturesSlideshow{
        height: 300px;
        width: 87%;
        object-fit: cover;
        border-radius: 25px;
        @include smartphones(){
            height:255px;
        }
    }
}