.Slideshow{
    position:relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 100%;
    .arrow{
        position:absolute;
        z-index:1;
        top:20%;
    }
    .arrow_right{
        right:80%;
    }
    .picturesSlideshow{
        height: 300px;
        width: 87%;
        object-fit: cover;
    }
}